@model IEnumerable<PlayerViewModel>

@{
  ViewData["Title"] = "D2CFL.Admin";
}

<h2>Players</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Nickname</th>
        <th>Lastname</th>
        <th>Position</th>
        <th>Team</th>
    </tr>
  @foreach (var item in Model)
  {
  <tr>
      <td>@item.Name</td>
      <td>@item.Nickname</td>
      <td>@item.Lastname</td>
      <td>@item.Position</td>
      <td>@item.Team</td>
  </tr>
  }
</table>