@model IEnumerable<PlayerViewModel>

@{
    ViewData["Title"] = "D2CFL.Admin";
}

<h2>Players</h2>

<table id="playersTable" class="table table-hover" onmouseover="cursor">
    <tr>
        <th>Name</th>
        <th>Nickname</th>
        <th>Lastname</th>
        <th>Position</th>
        <th>Team</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr onclick="viewActivity(@item.Id)">
            <td>@item.Name</td>
            <td>@item.Nickname</td>
            <td>@item.Lastname</td>
            <td>@item.Position</td>
            <td>@item.Team</td>
        </tr>
    }
</table>

@section Scripts
{
    <script type="text/javascript">
        $("#playersTable").css("cursor", "pointer");

        function viewActivity(itemId) {
            var url = "/Player/Update/" + itemId;
            window.location.href = url;
        }
    </script>
}