@model IEnumerable<PositionViewModel>

@{
  ViewData["Title"] = "D2CFL.Admin";
}

<h2>Positions</h2>

<a asp-action="Insert" asp-controller="Position" class="btn btn-default">Add new Position</a>
<p></p>
<table id="positionsTable" class="table table-hover" onmouseover="cursor">
  <tr>
    <th>Name</th>
    <th>Kill Coefficient</th>
    <th>Death Coefficient</th>
    <th>Assist Coefficient</th>
  </tr>
  @foreach (var item in Model)
  {
    <tr onclick="viewActivity(@item.Id)">
      <td>@item.Name</td>
      <td>@item.KillCoefficient</td>
      <td>@item.DeathCoefficient</td>
      <td>@item.AssistCoefficient</td>
    </tr>
  }
</table>

@section Scripts
  {
  <script type="text/javascript">
    $("#positionsTable").css("cursor", "pointer");

    function viewActivity(itemId) {
      var url = "/Position/Info/" + itemId;
      window.location.href = url;
    }
  </script>
}