@model PositionViewModel

@{
  ViewData["Title"] = "D2CFL.Admin";
}

<h2>@Model.Name</h2>

<div class="container">
  <dl class="row">
    <dt class="col-sm-2">Name:</dt>
    <dd class="col-sm-10">@Model.Name</dd>
    <dt class="col-sm-2">KillCoefficient:</dt>
    <dd class="col-sm-10">@Model.KillCoefficient</dd>
    <dt class="col-sm-2">DeathCoefficient:</dt>
    <dd class="col-sm-10">@Model.DeathCoefficient</dd>
    <dt class="col-sm-2">AssistCoefficient:</dt>
    <dd class="col-sm-10">@Model.AssistCoefficient</dd>
  </dl>
  <div class="btn-group btn-group-justified">
    <a asp-action="Update" asp-controller="Position" asp-route-id="@Model.Id" class="btn btn-outline-dark">Update</a>
    <a asp-action="Delete" asp-controller="Position" asp-route-id="@Model.Id" class="btn btn-outline-dark">Delete</a>
    <a asp-action="Index" asp-controller="Position" class="btn btn-outline-dark">Back</a>
  </div>
</div>